:root {
	--main-bg-color: #181617;
	--main-brand-color: #A07B50;
	--main-add-color: #FFF;
}

@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	src: local("Roboto");
		 url("../fonts/Roboto-Regular.ttf") format("ttf");
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	src: local("Roboto");
		 url("../fonts/Roboto-Bold.ttf") format("ttf");
}
@font-face {
	font-family: "Yeseva One";
	src: url("../fonts/YesevaOne-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}

html {
	height:100%;
}
body {
	font-family: "Roboto", "Times New Roman", serif;
	font-weight: 400;
	width: 100%;
	min-height: 100%;
	display: grid;
	grid-template-rows: auto 1fr auto;
	font-size: 16px;
	line-height: 24px;
	background: var(--main-bg-color);
}
.wrapper {
	max-width: 1366px;
	padding: 0 76px;
	margin: 0 auto;
	border: 1px solid red;
}
h1 {
	color: var(--main-add-color);
	margin: 0 0 16px;
	font-size: 52px;
	line-height: 60px;
	font-family: "Yeseva One", "Times New Roman", serif;
	font-weight: 400;
}
h2 {
	font-family: "Yeseva One", "Times New Roman", serif;
	margin: 0 0 23px;
	font-size: 36px;
	line-height: 42px;
	text-align: center;
	color: var(--main-add-color);
}
.btn {
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 200px;
	height: 52px;
	color: var(--main-add-color);
	border: 1px solid var(--main-brand-color);
	font-weight: 700;
	font-size: 14px;
	line-height: 16px;
	margin: 0 auto;
}
.main-section {
	margin-bottom: 83px;
}
.section__description {
	text-align: center;
	color: var(--main-brand-color);
	margin: 0 auto 43px;
}
/*HEADER*/
header {
	background-color: var(--main-bg-color);
	height: 684px;
	margin-bottom: 223px;
}
.header__wrapper {
	height: 100%;
	background: url("../images/main-bg_desctop.png") no-repeat bottom right;
	display: flex;
	flex-direction: column;
}
.header__top {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 47px;
}
.header__bottom {
	display: flex;
	align-items: flex-end;
	gap: 110px;
	padding-top: 88px;
	padding-bottom: 56px;
	flex-grow: 1;
}
.header__bottom-content {
	margin-bottom: 117px;
}
.header__city {
	color: var(--main-brand-color);
	margin-bottom: 18px;
}
.header__title {
	max-width: 350px;
}
.header__description {
	color: var(--main-brand-color);
	margin-bottom: 48px;
	max-width: 300px;
}
.header__bottom-social {
	position: relative;
	list-style: none;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-top: 31px;
	gap: 2px;
}
.header__bottom-social:before {
	content: "";
	width: 1px;
	height: 77px;
	position: absolute;
	bottom: 100%;
	left: 50%;
	background: #FFFFFF9C;


}
.header__bottom-social li {
	display: flex;
	justify-content: center;
}

/*CATS*/
.cats .section__description {
	max-width: 530px;
}
.tabs-blocks {
	padding: 0 85px;
	margin-bottom: 54px;
}
.tads-list {
	display: flex;
	width: min-content;
	margin: 0 auto 44px;
	list-style: none;
	gap: 50px;
}
.tads-list__link {
	text-decoration: none;
	color: var(--main-add-color);
	font-size: 18px;
	line-height: 21px;
	opacity: 20%;
	transition: all ease .1s;
}
.tads-list__link._active {
	opacity: 1;
}
.tab-block__list {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 214px 241px;
	gap: 30px;
}
.tab-block__item.row2 {
	grid-row: 1/3;
	grid-column: 2/3;
}
.tab-block__item img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: contain;
}

footer {

}
